[Unit]
Description=Populate root
DefaultDependencies=no
Requires=build-root.service
After=build-root.service
After=systemd-veritysetup@usr.service
# Necessary otherwise the other units see /etc empty
Before=dracut-pre-pivot.service
RequiresMountsFor=/sysroot/usr
ConditionPathExists=/run/create_new_root
ConditionKernelCommandLine=create_root.enable
AssertPathExists=/etc/initrd-release

[Service]
Type=oneshot
ExecStart=/usr/bin/prepare-root.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
