**/*.[0-9]
*.o
.idea/
/*.rpm
/*.sign
/.buildpath
/.project
/Makefile.inc
/dracut-install
/dracut-util
/dracut.conf.d/*.conf
/dracut.pc
/src/install/dracut-install
/src/skipcpio/skipcpio
/src/util/util
/test/*/.testdir
/test/*/test.log
build/
test*.img
