---
name: Container

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 11 * * *'   # every day at 11:30 UTC
    push:
        branches: [main]
        paths:
            - 'test/container/**'
            - '.github/workflows/container.yml'
    pull_request:
        branches: [main]
        paths:
            - 'test/container/**'
            - '.github/workflows/container.yml'
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

permissions:
    packages: write
    contents: read

jobs:
    container:
        if: github.repository == 'dracut-ng/dracut-ng' || vars.CONTAINER == 'enabled'
        name: ${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
        concurrency:
            group: >
                container-${{ github.workflow }}-${{ github.ref }}
                -${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                architecture:
                    - {platform: 'linux/amd64', runner: 'ubuntu-24.04', tag: 'amd'}
                    - {platform: 'linux/arm64', runner: 'ubuntu-24.04-arm', tag: 'arm'}
                config:
                    - {dockerfile: 'Dockerfile-alpine', tag: 'alpine:edge'}
                    - {dockerfile: 'Dockerfile-alpine', tag: 'alpine:busybox-edge', option: 'busybox'}
                    - {dockerfile: 'Dockerfile-arch', tag: 'arch:latest'}
                    - {dockerfile: 'Dockerfile-debian', tag: 'debian:latest'}
                    - {dockerfile: 'Dockerfile-fedora', tag: 'fedora:latest'}
                    - {dockerfile: 'Dockerfile-opensuse', tag: 'opensuse:latest'}
                    - {dockerfile: 'Dockerfile-debian', tag: 'ubuntu:devel'}
                    - {dockerfile: 'Dockerfile-debian', tag: 'ubuntu:rolling'}
                    - {dockerfile: 'Dockerfile-void', tag: 'void:latest'}
                exclude:
                    - config: {tag: 'arch:latest'}
                      architecture: {platform: 'linux/arm64'}
        runs-on: ${{ matrix.architecture.runner }}
        steps:
            - name: Check out the repo
              uses: actions/checkout@v6
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up env
              run: echo "repository_owner=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
            - name: Build and Push Container
              uses: docker/build-push-action@v6
              with:
                  file: test/container/${{ matrix.config.dockerfile }}
                  tags: ghcr.io/${{env.repository_owner}}/${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
                  push: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
                  platforms: ${{ matrix.architecture.platform }}
                  build-args: |
                      DISTRIBUTION=${{ matrix.config.tag }}
                      OPTION=${{ matrix.config.option }}
    manifest:
        needs: container
        if: github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        name: ${{ matrix.config.tag }}
        concurrency:
            group: manifest-${{ github.workflow }}-${{ github.ref }}-${{ matrix.config.tag }}
            cancel-in-progress: true
        runs-on: ubuntu-latest
        strategy:
            matrix:
                config:
                    - {tag: 'alpine:edge', platforms: ['amd', 'arm']}
                    - {tag: 'alpine:busybox-edge', platforms: ['amd', 'arm']}
                    - {tag: 'arch:latest', platforms: ['amd']}
                    - {tag: 'debian:latest', platforms: ['amd', 'arm']}
                    - {tag: 'fedora:latest', platforms: ['amd', 'arm']}
                    - {tag: 'opensuse:latest', platforms: ['amd', 'arm']}
                    - {tag: 'ubuntu:devel', platforms: ['amd', 'arm']}
                    - {tag: 'ubuntu:rolling', platforms: ['amd', 'arm']}
                    - {tag: 'void:latest', platforms: ['amd', 'arm']}
        steps:
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up env
              run: echo "repository_owner=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
            - name: Create and Push Multi-Arch Manifest
              run: |
                  tag="ghcr.io/${{env.repository_owner}}/${{ matrix.config.tag }}"
                  images="$(printf "${tag}-%s " ${{ join(matrix.config.platforms, ' ') }})"
                  docker buildx imagetools create -t ${tag} ${images}
