---
# Containers that takes longer to build or mainline, development, non-stable
# version of CI containers
name: Container (extra)

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 11 * * *'   # every day at 11:30 UTC
    push:
        branches: [main]
        paths:
            - 'test/container/**'
            - '.github/workflows/container-extra.yml'
    pull_request:
        branches: [main]
        paths:
            - 'test/container/**'
            - '.github/workflows/container-extra.yml'
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

permissions:
    packages: write
    contents: read

jobs:
    container-extra:
        if: github.repository == 'dracut-ng/dracut-ng' || vars.CONTAINER == 'enabled'
        name: ${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
        runs-on: ${{ matrix.architecture.runner }}
        concurrency:
            group: >
                container-extra-${{ github.workflow }}-${{ github.ref }}
                -${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                architecture:
                    - {platform: 'linux/amd64', runner: 'ubuntu-24.04', tag: 'amd'}
                    - {platform: 'linux/arm64', runner: 'ubuntu-24.04-arm', tag: 'arm'}
                config:
                    - {dockerfile: 'Dockerfile-azurelinux', tag: 'azurelinux:3.0', registry: 'mcr.microsoft.com'}
                    - {dockerfile: 'Dockerfile-fedora', tag: 'centos:latest', registry: 'quay.io/centos'}
                    - {dockerfile: 'Dockerfile-debian', tag: 'debian:sid'}
                    - {dockerfile: 'Dockerfile-fedora', tag: 'fedora:rawhide', registry: 'registry.fedoraproject.org'}
                    - {dockerfile: 'Dockerfile-gentoo', tag: 'gentoo:amd64-openrc', option: 'amd64-openrc'}
                    - {dockerfile: 'Dockerfile-gentoo', tag: 'gentoo:latest', option: 'systemd'}
                exclude:
                    - config: {tag: 'arch:latest'}
                      architecture: {platform: 'linux/arm64'}
                    - config: {tag: 'gentoo:amd64-openrc'}
                      architecture: {platform: 'linux/arm64'}
        steps:
            - name: Check out the repo
              uses: actions/checkout@v6
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up env
              run: echo "repository_owner=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
            - name: Build and Push Container
              uses: docker/build-push-action@v6
              with:
                  file: test/container/${{ matrix.config.dockerfile }}
                  tags: ghcr.io/${{env.repository_owner}}/${{ matrix.config.tag }}-${{ matrix.architecture.tag }}
                  push: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
                  platforms: ${{ matrix.architecture.platform }}
                  build-args: |
                      DISTRIBUTION=${{ matrix.config.tag }}
                      REGISTRY=${{ matrix.config.registry }}
                      OPTION=${{ matrix.config.option }}
    manifest:
        needs: container-extra
        if: github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        name: ${{ matrix.config.tag }}
        concurrency:
            group: manifest-${{ github.workflow }}-${{ github.ref }}-${{ matrix.config.tag }}
            cancel-in-progress: true
        runs-on: ubuntu-latest
        strategy:
            matrix:
                config:
                    - {tag: 'azurelinux:3.0', platforms: ['amd', 'arm']}
                    - {tag: 'centos:latest', platforms: ['amd', 'arm']}
                    - {tag: 'debian:sid', platforms: ['amd', 'arm']}
                    - {tag: 'fedora:rawhide', platforms: ['amd', 'arm']}
                    - {tag: 'gentoo:latest', platforms: ['amd', 'arm']}
                    - {tag: 'gentoo:amd64-openrc', platforms: ['amd']}
        steps:
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Set up env
              run: echo "repository_owner=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}
            - name: Create and Push Multi-Arch Manifest
              run: |
                  tag="ghcr.io/${{env.repository_owner}}/${{ matrix.config.tag }}"
                  images="$(printf "${tag}-%s " ${{ join(matrix.config.platforms, ' ') }})"
                  docker buildx imagetools create -t ${tag} ${images}
