---
name: Daily Tests - basic (arm64)

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 23 * * *'   # every day at 23:30 UTC

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        paths:
            - '.github/workflows/daily-basic-arm64.yml'

jobs:
    basic:
        name: ${{ matrix.test }} on ${{ matrix.container }} on arm64
        runs-on: ubuntu-24.04-arm
        timeout-minutes: 20
        concurrency:
            group: daily-basic-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-arm
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - debian:latest
                    - debian:sid
                    - gentoo:latest
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                    - void:latest
                test:
                    - "10"
                    - "11"
                    - "13"
                    - "20"
                    - "26"
                    - "30"
                    - "50"
                    - "80"
                    - "81"
                    - "82"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-arm
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
