---
name: Daily Tests - network-systemd (x64)

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 23 * * *'   # every day at 23:30 UTC

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        paths:
            - '.github/workflows/daily-network-systemd-x64.yml'

jobs:
    network-systemd:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: daily-network-systemd-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}-amd
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - systemd-networkd
                container:
                    - arch:latest
                    - debian:latest
                    - debian:sid
                test:
                    - "50"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
