---
name: Daily Tests - network-manager (x64)

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 23 * * *'   # every day at 23:30 UTC

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        paths:
            - '.github/workflows/daily-network-manager-x64.yml'

jobs:
    network-manager:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: daily-network-manager-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}-amd
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - network-manager
                container:
                    - arch:latest
                    - debian:latest
                    - debian:sid
                    - fedora:latest
                    - fedora:rawhide
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                test:
                    - "60"
                    - "72"
                exclude:
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:devel
                      test: "72"
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:rolling
                      test: "72"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
