---
name: Daily Tests - network (arm64)

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 23 * * *'   # every day at 23:30 UTC

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        paths:
            - '.github/workflows/daily-network-arm64.yml'

jobs:
    network:
        name: ${{ matrix.test }} on ${{ matrix.container }} on arm64
        runs-on: ubuntu-24.04-arm
        timeout-minutes: 40
        concurrency:
            group: daily-network-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-arm
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - network-manager
                container:
                    - debian:latest
                    - debian:sid
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                test:
                    - "60"
                    - "70"
                    - "71"
                    - "72"
                exclude:
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:devel
                      test: "72"
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:rolling
                      test: "72"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-arm
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
