---
name: Daily Integration Tests

on:  # yamllint disable-line rule:truthy
    schedule:
        - cron: '30 23 * * *'   # every day at 23:30 UTC

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    pull_request:
        paths:
            - '.github/workflows/integration-extra.yml'

jobs:
    basic:
        # run these tests on all containers
        name: ${{ matrix.test }} on ${{ matrix.container }}
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-basic-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - alpine:edge
                    - arch:latest
                    - azurelinux:3.0
                    - debian:latest
                    - debian:sid
                    - fedora:latest
                    - fedora:rawhide
                    - centos:latest
                    - gentoo:latest
                    - gentoo:amd64-openrc
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                    - void:latest
                test:
                    - "10"
                    - "11"
                    - "13"
                    - "20"
                    - "26"
                    - "30"
                    - "50"
                    - "80"
                    - "81"
                    - "82"
                exclude:
                    # btrfs kernel module is not available on CentOS Stream 10
                    - container: centos:latest
                      test: "11"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    kernel-install:
        name: ${{ matrix.test }} on ${{ matrix.container }}
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-kernel-install-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - arch:latest
                    - debian:latest
                    - debian:sid
                    - fedora:latest
                    - fedora:rawhide
                    - gentoo:latest
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                    - void:latest
                test:
                    - "12"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    systemd:
        name: ${{ matrix.test }} on ${{ matrix.container }}
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-systemd-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - arch:latest
                    - azurelinux:3.0
                    - debian:latest
                    - debian:sid
                    - fedora:latest
                    - fedora:rawhide
                    - centos:latest
                    - gentoo:latest
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                test:
                    - "40"
                    - "41"
                    - "42"
                    - "43"
                    - "44"
                exclude:
                    # https://github.com/dracut-ng/dracut-ng/issues/1677
                    - container: arch:latest
                      test: "41"
                    # intentionally skipped
                    - container: centos:latest
                      test: "41"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    network-systemd:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-network-systemd-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - systemd-networkd
                container:
                    - arch:latest
                    - debian:latest
                    - debian:sid
                test:
                    - "50"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    network-manager-iscsi:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-network-manager-iscsi-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - network-manager
                container:
                    - debian:latest
                    - debian:sid
                    - ubuntu:devel
                    - ubuntu:rolling
                test:
                    - "70"
                    - "71"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    network-manager:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-network-manager-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - network-manager
                container:
                    - arch:latest
                    - debian:latest
                    - debian:sid
                    - fedora:latest
                    - fedora:rawhide
                    - opensuse:latest
                    - ubuntu:devel
                    - ubuntu:rolling
                test:
                    - "60"
                    - "72"
                exclude:
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:devel
                      test: "72"
                    # https://github.com/dracut-ng/dracut-ng/issues/1815
                    - container: ubuntu:rolling
                      test: "72"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    network-legacy:
        name: ${{ matrix.test }} on ${{ matrix.container }} ${{ matrix.network }} networking
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-network-legacy-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}-${{ matrix.network }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                network:
                    - network-legacy
                container:
                    - opensuse:latest
                test:
                    - "50"
                    - "60"
                    - "72"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: USE_NETWORK=${{ matrix.network }} CONFIGURE_ARG='--enable-network-legacy' ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    omitsystemd:
        # run this test on all containers
        name: ${{ matrix.test }} on ${{ matrix.container }} with no systemd
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-omitsystemd-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - arch:latest
                test:
                    - "10"
                    - "11"
                    - "12"
                    - "20"
                    - "26"
                    - "30"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: TEST_DRACUT_ARGS="--omit systemd" ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
    hostonlystrict:
        name: ${{ matrix.test }} on ${{ matrix.container }} with hostonly-mode strict
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        concurrency:
            group: extra-hostonlystrict-${{ github.workflow }}-${{ github.ref }}-${{ matrix.container }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            fail-fast: false
            matrix:
                container:
                    - fedora:latest
                test:
                    - "10"
                    - "11"
                    - "12"
                    - "13"
                    - "20"
                    - "26"
                    - "30"
                    - "40"
                    - "41"
                    - "42"
                    - "43"
                    - "50"
                    - "80"
                    - "81"
                    - "82"
        container:
            image: ghcr.io/dracut-ng/${{ matrix.container }}-amd
            options: '--device=/dev/kvm --privileged'
        steps:
            - name: "Checkout Repository"
              uses: actions/checkout@v6
            - name: "${{ matrix.container }} TEST-${{ matrix.test }}"
              run: TEST_DRACUT_ARGS="--hostonly-mode strict" ./test/test-container.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
