name: Lint

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'doc_site/**'
      - 'man/**'

jobs:
  lint-shell:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: shfmt
        uses: luizm/action-sh-checker@v0.9.0
        env:
          SHFMT_OPTS: -s # arguments to shfmt.
        with:
          sh_checker_shellcheck_disable: true # disable shellcheck in favor of differential-shellcheck

  differential-shellcheck:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: ShellCheck
        name: Differential ShellCheck
        uses: redhat-plumbers-in-action/differential-shellcheck@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ always() }}
        name: Upload artifact with ShellCheck defects in SARIF format
        uses: actions/upload-artifact@v4
        with:
          name: Differential ShellCheck SARIF
          path: ${{ steps.ShellCheck.outputs.sarif }}

  lint-c:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: install tools
        run: sudo apt-get install astyle

      - name: indent
        run: make indent-c

      - name: check formatting
        run: git diff --exit-code
